
<div class="card statistical-card">
  <div class="card-body">
    <h5 class="card-title text-dark text-center">Estatísticas</h5>
    <div class="mt-4"></div>
    <p class="card-text text-dark" ><i style="font-size: 22px;" class="mx-4 bi bi-box-arrow-right"></i>Casos Atendidos: <strong style="color: var(--green-main)">12</strong></p>
    <p class="card-text text-dark" ><i style="font-size: 22px;" class="mx-4 bi bi-check-square-fill"></i>Bem Sucedidos: <strong style="color: var(--green-main)">09</strong></p>
    <p class="card-text text-dark" ><i style="font-size: 22px;" class="mx-4 bi bi-x-square"></i>Falhas: <strong style="color: var(--green-main)">03</strong></p>
    <p class="card-text text-dark" ><i style="font-size: 22px;" class="mx-4 bi bi-exclamation-triangle-fill"></i>Caso Com Mais Falhas: <strong style="color: var(--green-main)">Caso 1</strong></p>
    <p class="card-text text-dark" ><i style="font-size: 22px;" class="mx-4 bi bi-clock-history"></i>Caso de Maior Duração: <strong style="color: var(--green-main)">Caso 3</strong></p>
    <p class="card-text text-dark" ><i style="font-size: 22px;" class="mx-4 bi bi-clock-history"></i>Caso de Menor Duração: <strong style="color: var(--green-main)">Caso 2</strong></p>
  </div>
</div>
